<div class="companies-list">
    <h2>Companies</h2>
    
    <div class="companies-search">
      <input type="text" [(ngModel)]="filters.name" placeholder="Search by Name">
      <input type="text" [(ngModel)]="filters.address" placeholder="Search by Address">
      <button (click)="onSearch()">Search</button>
    </div>
    
    <div class="companies">
        <table>
            <thead>
                <tr>
                <th (click)="onSort('name')">Name</th>
                <th (click)="onSort('address')">Address</th>
                <th (click)="onSort('averageRating')">Average Rating</th>
                <th>Decorators</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of companiesWithDecorators">
                <td><a (click)="navigateTo(company.company.companyId)">{{ company.company.name }}</a></td>
                <td>{{ company.company.address }}</td>
                <td>
                    <div class="star-rating">
                    <span class="star" [class.full]="company.averageRating >= 1">&#9733;</span>
                    <span class="star" [class.full]="company.averageRating >= 2">&#9733;</span>
                    <span class="star" [class.full]="company.averageRating >= 3">&#9733;</span>
                    <span class="star" [class.full]="company.averageRating >= 4">&#9733;</span>
                    <span class="star" [class.full]="company.averageRating >= 5">&#9733;</span>
                    </div>
                    {{ company.averageRating }}
                </td>
                <td>
                    <ul>
                        <li *ngFor="let decorator of company.decorators">{{ decorator.firstName }} {{ decorator.lastName }}</li>
                    </ul>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  

