<form (ngSubmit)="submitChangePassword()">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" required>
      </div>
    <div>
      <label for="oldPassword">Old Password:</label>
      <input type="password" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" required>
    </div>
  
    <div>
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
    </div>
  
    <div>
      <label for="confirmPassword">Confirm New Password:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
    </div>
    <button type="submit">Change Password</button>
    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
  </form>
  
