
.chart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .chart {
    flex: 1;
    margin: 20px;
  }
  
  canvas {
    max-width: 100%;
    height: auto;
  }
  